.title-name{
    padding: 10px;
    width: 97.5%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 30px;
    font-weight: bold;

}
.title-form{
    width: 70%;
    margin: auto;
    background-color: white;
    border:1px solid gray;
    box-shadow: 0 4px 8px  rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 10px;
    border-radius: 7px;
}
.text-description{
    width: 98.5%;
    padding-bottom: 100px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 7px;
}
.title-form-button{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title-cancel-button{
    padding: 10px;
    background-color: navy;
    color: white;
    border-radius: 7px;
    border: none;
    margin-right: 10px;
}
.title-save-button{
    padding: 10px;
    background-color: navy;
    color: white;
    border-radius: 7px;
    border: none; 
}
.addAndEdit-error{
    color: red;
    text-align: center;
}
.invalid-input{
    border: 1px solid red;
}
.title-save-button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


