
.footer-section{
    background-color:#ada7a7 ;
    text-align: center;
    padding: 2px 0px;
    width: 100%;
   bottom: 0;
   position: fixed;  
  
}
.footer-end-section{
    padding:0px  0px 40px;

}
